<span>
    <input type="text" placeholder="Feet"> <input type="text" placeholder="Inches"> <input type="text" placeholder="Pounds">
</span>

<span>
    <button type="submit" id="body_mass_index--result">Calculate</button>
</span>